/*
*
*CSS Reset
*
*/

*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*
*
*General Rules
*
*/


section {
	min-height: 100vh;

}
/*
*
*Sections
*
*/

section#bio{

	background-color: #fde7fc;
	position: relative;
}


section#bio,
section#bio a {
	color: #2b1703;
}

section#bio > div#details > img{
	border-radius: 50%;
	width: 200px;
	border: 5px solid white;
	padding: 5px;

}


section#bio > div#details > h1,
section#bio > div#details > ul {
	font-family: 'Merriweather', serif;
	padding-top: : 15px;
	padding-bottom: 15px;

}

section#bio > div#details > h1 {
font-size: 35px

}


section#bio > div#details > ul {
list-style: none;
font-size: 15px;
}

div#details{
	border: 1px solid #fff;
	width: 50%;
	text-align: center;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section#projects{
	background-color: #ffed82;
}

section#skillset{
	background-color: #feffa2;
}

section#contact{
	background-color: #ffd5f7;
	position: relative;
}

section#projects > h2,
section#skillset > h2,
section#contact > h2{
	text-align: center;
	padding-top: 15px
	padding-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 2px

}


body {
	/*background-color: red;*/
	font-family: 'Bree Serif', serif;

}

/*
*
*Footer
*
*/

footer{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: black;
	color: lightgrey;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer a{
	color:lightgrey;

}